<% include ./partials/header %>

<h1>LOG IN</h1>

<form>
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="login">
</form>


<% include ./partials/footer %>